EXPO_PUBLIC_SUPABASE_URL="https://qosntgltfnlmdznpnpwe.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFvc250Z2x0Zm5sbWR6bnBucHdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NDI0NzgsImV4cCI6MjA5MzExODQ3OH0.WDUp1pwPgEXdJoiOFNXT-3J-e8nva8hUHEWC-z6RY"